# fastq and fasta files #
#########################
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fa
*.fasta

# Output from read trimming #
#############################
*_trimlog.txt

# Other output from assembly software #
#######################################
#IDBA_UD
begin
end
kmer
log
align-100-0
align-80
align-60
align-40
align-20

#Megahit
done
*.info
opts.txt

#SPAdes
*fastg
*.paths
*.log
*.amb
*.ann
*.bwt
*.pac
*.sa
*.lib_data

#Velvet
*_Logfile.txt
Log
stats.txt
Sequences
PreGraph
Graph
*_logfile.txt


# Backups and .pyc files #
~*
*.pyc